.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group-left {
    flex: 1;
    margin-right: 20px;
}

.form-group-left img {
    width: 100%;
    height: auto;
}

.form-group-right {
    flex: 2;
}

.formGroup {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    justify-items: start;
}

.inputGroup{
    display: flex;
    flex-direction: column;
}

.buttonGroup {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    justify-content: flex-end;
}

.buttonGroup button {
    width: 120px;
}


.textDanger{
    color: red;
}

button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.btnSuccess{
    background-color: green;
    color: white;
    border: green;
}

.btnSuccess:hover{
    background-color: rgb(1, 76, 1);
}


.btnDanger{
    background-color: red;
    color: white;
    border-color: red;
}

.btnDanger:hover{
    background-color: rgb(104, 2, 2);
}

.btnPrimary{
    background-color: rgb(0, 106, 255);
    color: white;
    border-color: rgb(0, 115, 255);
}

.btnPrimary:hover{
    background-color: rgb(1, 1, 117);
}

.disabled {
    background-color: grey;
    opacity: 0.65;
    cursor: not-allowed;
}

.disabled:hover {
    background-color: red; 
    color: white; 
}


.formControl {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.formControl:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.formCheckInput {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
    transition: background-color .15s ease-in-out,background-position .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}

.formCheckInput[type=checkbox] {
    border-radius: 0.25em;
    cursor: pointer;
    padding: 8px;
}

.formCheckInput:checked {
    background-color: rgb(0, 98, 255);
    border-color: rgb(0, 145, 255);
}

.formCheckInput:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.formCheckInput:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}